<div class="container">
  <div class="details">
    <app-title title="Register"></app-title>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm.value)">
      <text-input
        [control]="registerForm.controls['name']"
        [showErrorsWhen]="isSubmitted"
        label="Name"
      >
        `</text-input
      >

      <text-input
        [control]="registerForm.controls['email']"
        [showErrorsWhen]="isSubmitted"
        label="Email"
        type="email"
      >
        `</text-input
      >

      <text-input
        [control]="registerForm.controls['password']"
        [showErrorsWhen]="isSubmitted"
        label="Password"
        type="password"
      >
        `</text-input
      >

      <text-input
        [control]="registerForm.controls['confirmPassword']"
        [showErrorsWhen]="isSubmitted"
        label="Password"
        type="password"
      >
        `</text-input
      >

      <text-input
        [control]="registerForm.controls['address']"
        [showErrorsWhen]="isSubmitted"
        label="Address"
      >
        `</text-input
      >

      <default-button text="Register"></default-button>

      <div class="login">
        Already a user? &nbsp;
        <a routerLink="/login" [queryParams]="{ returnUrl: returnUrl }">
          Login Here
        </a>
      </div>
    </form>
  </div>
</div>
