<div class="container">
  <div class="details">
    <app-title title="Login"></app-title>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <input
        formControlName="email"
        type="email"
        label="Email"
        placeholder="email"
      />
      <div
        class="error-list"
        *ngIf="loginForm.controls['email'].invalid && isSubmitted"
      >
        Invalid email
      </div>
      <input
        formControlName="password"
        type="password"
        label="Password"
        placeholder="password"
      />
      <div
        class="error-list"
        *ngIf="loginForm.controls['password'].invalid && isSubmitted"
      >
        Invalid password
      </div>

      <button type="submit">Login</button>
      <div class="register">
        New user? &nbsp;
        <!-- <a routerLink="/register" [queryParams]="{ returnUrl: returnUrl }"> -->
        Register here
        <!-- </a> -->
      </div>
    </form>
  </div>
</div>
