<div class="container">
  <div class="details">
    <app-title title="Login"></app-title>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
      <text-input
        [control]="loginForm.controls['email']"
        [showErrorsWhen]="isSubmitted"
        type="email"
        label="Email"
      ></text-input>

      <text-input
        [control]="loginForm.controls['password']"
        [showErrorsWhen]="isSubmitted"
        type="password"
        label="Password"
      ></text-input>

      <default-button text="Login"></default-button>
      <div class="register">
        New user? &nbsp;
        <a routerLink="/register" [queryParams]="{ returnUrl: returnUrl }">
          Register here
        </a>
      </div>
    </form>
  </div>
</div>
