<header>
  <div class="container">
    <a routerLink="/" class="logo">Luigi Deliveries</a>

    <nav>
      <ul>
        <li>
          <a routerLink="/login" *ngIf="!user">Login</a>
        </li>
        <li class="products" *ngIf="user">
          <a routerLink="/dashboard"> {{ user.name }} </a>
          <div class="menu">
            <a routerLink="/profile">Profile</a>
            <a routerLink="/orders">Orders</a>
            <a (click)="onLogout()">Logout</a>
          </div>
        </li>
        <li>
          <a routerLink="/cart"> Cart <span>3</span> </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
